<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>BE in Computer Engineering</h1>
            <span>Vanderbilt University</span>
            <span><address>Nashville, TN, USA</address><time>2010 to 2014</time></span>
        </header>
        <p>
            Founded VINES, the Vanderbilt Entrepreneurial Society. Served on the Honor Council. Accepted into and attended Vanderbilt's Accelerator business program. Completed Computer Engineering degree in 2 years after switching major at end of sophomore year. Two credits short of a Music Minor. Designed game design independent study.
        </p>
    </article>
</section>