<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Web Developer</h1>
            <span><address>IMLeagues - Raleign, NC</address><time>2015 to Present</time></span>
        </header>
        <p>Built complete, full stack feature sets in AngularJS and ASP.NET. Redesigned architecture and helped refactor to more sustainable designs. This also allowed us to move from ASP.NET Web Forms to a SPA, reduce server load, and improve the user experience by using AngularJS open source libraries. Additionally, I created a roadmap for moving towards a more Agile design process, which led to a faster development cycle and better coordination between remote teams. </p>
    </article>
    <article>
        <header>
            <h1>Junior Web and SQL Developer</h1>
            <span><address>AGDATA - Charlotte, NC</address><time>2015</time></span>
        </header>
        <p>Built websites for Fortune 500 agricultural companies. Managed large datasets, and created analysis reports and automated processes that generated useful information. Worked with everything from modern C# in ASP.NET MVC, to VB6 legacy code. Successfully operated inside a weekly agile process, and added several new features per week.</p>
    </article>
    <article>
        <header>
            <h1>Student Web Developer</h1>
            <span><address>Metova - Franklin, TN</address><time>2013 to 2014</time></span>
        </header>
        <p>As Seniors at Vanderbilt, Engineers work on a full-time project with a company. I built a full-stack, Ruby on Rails social network webapp designed to gamify bug/feature completions and help underperforming developers seek mentorship from overperforming developers. The final design was in the form of a leaderboard that was generated based on data provided by Atlassian's JIRA. We successfully integrated this product into their development cycle.</p>
    </article>
    <article>
        <header>
            <h1>Software Development Intern</h1>
            <span><address>SQL Sentry - Huntersville, NC</address><time>2013</time></span>
        </header>
        <p>Built a continuous integration platform to speed up production, free up senior developer time, and streamline the QA process by eliminating the need to manually build every product. Saved anywhere from 15 minutes to 1 hour of developer time per day.</p>
    </article>
</section>