<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Vanderbilt Accelerator</h1>
            <span><address>Nashville, TN</address><time>2012</time></span>
        </header>
        <p>
            Worked with multiple companies, ranging from Fortune 500 to local small businesses, and their CEOs on large-scale project planning to drastically shift their business paradigm.
        </p>
    </article>
    <article>
        <header>
            <h1>Student Volunteer</h1>
            <span><address>Habitat for Humanity, Belfast, NI</address><time>2011</time></span>
        </header>
        <p>
            Helped build sustainable living situations for local residents of Northern Ireland. Worked with civil engineers to find Green solutions for the future.
        </p>
    </article>
</section>
